body{
    background-color: #ccc;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    font-size: 20px;
    background-color: #848383;
    width: 99vw;
    border-style: double;
}
aside{
    width: 10vw;
    background-color: #848383;
    padding-top: 20px;
    border-style: double;
    border: 2px solid;
}

aside>button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    width: 98.38vw;
    height: 35px;
    background-color:  #848383;
    padding: 5px;
    margin-top: 2px;
    border-style: double;
    font-size: 12px;
}

ul{
    list-style-type: none;
    margin: 0px;
}

li{
    float: left;
}

li>button{
    margin:0px 100px 0px 100px;
    padding:0px 70px 0px 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


aside>button{
    width: 100%;
    margin: 2px;
}

section{
    width: 90vw;
    border: 1px solid blue;
    margin-left: 5px;
    visibility: hidden;

}
table{
    width: 100vw;
    border-style: double;
}

button{
    border-radius: 5px;
}

#cad-title{
    font-weight: bold;
    font-size: 15px;
}
